stages:
  - validate
  - plan
  - apply

variables:
  TF_VAR_proxmox_api_url: $PROXMOX_API_URL
  TF_VAR_proxmox_user: $PROXMOX_USER
  TF_VAR_proxmox_password: $PROXMOX_PASSWORD

default:
  image: hashicorp/terraform:latest
  entrypoint: [""]

  before_script:
    - cd src
    - terraform version
    - terraform init -input=false

validate:
  stage: validate
  script:
    - terraform validate

plan:
  stage: plan
  script:
    - terraform plan -out=main.tfplan
  artifacts:
    paths:
      - src/main.tfplan
    expire_in: 1 hour

apply:
  stage: apply
  script:
    - terraform apply -auto-approve main.tfplan
  dependencies:
    - plan
