stages:
  - validate
  - plan
  - apply

variables:
  TF_ROOT: "src"  # Directory with your Terraform files
  TF_VAR_proxmox_api_url: $PROXMOX_API_URL
  TF_VAR_proxmox_user: $PROXMOX_USER
  TF_VAR_proxmox_password: $PROXMOX_PASSWORD

default:
  image: alpine:latest
  before_script:
    - apk add --no-cache terraform
    - cd $TF_ROOT
    - terraform version
    - terraform init -input=false

validate:
  stage: validate
  script:
    - terraform validate

plan:
  stage: plan
  script:
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - src/tfplan
    expire_in: 1 hour

apply:
  stage: apply
  script:
    - terraform apply -auto-approve tfplan
  dependencies:
    - plan

