stages:
  - validate
  - plan
  - apply

variables:
  TF_VAR_proxmox_api_url: $PROXMOX_API_URL
  TF_VAR_proxmox_user: $PROXMOX_USER
  TF_VAR_proxmox_password: $PROXMOX_PASSWORD
  TF_STATE_NAME: tfstate

default:
  image: 
    name: hashicorp/terraform:latest
    entrypoint: [""]

  before_script:
    - cd src
    - terraform version
    - >
      terraform init \
      -backend-config="address=http://gitlab.bl-lab.net/api/v4/projects/6/terraform/state/$TF_STATE_NAME" \
      -backend-config="lock_address=http://gitlab.bl-lab.net/api/v4/projects/6/terraform/state/$TF_STATE_NAME/lock" \
      -backend-config="unlock_address=http://gitlab.bl-lab.net/api/v4/projects/6/terraform/state/$TF_STATE_NAME/lock" \
      -backend-config="username=$GITLAB_USERNAME" \
      -backend-config="password=$GITLAB_ACCESS_TOKEN" \
      -backend-config="lock_method=POST" \
      -backend-config="unlock_method=DELETE" \
      -backend-config="retry_wait_min=5"

validate:
  stage: validate
  script:
    - terraform validate

plan:
  stage: plan
  script:
    - terraform plan -out=main.tfplan
  artifacts:
    paths:
      - src/main.tfplan
    expire_in: 1 hour

apply:
  stage: apply
  script:
    - terraform apply -auto-approve main.tfplan
  dependencies:
    - plan
